<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Activity.Activity08"/>
      <class name="Activity.Activity09"/>
      <class name="Activity.Activity06"/>
      <class name="Activity.Activity07"/>
      <class name="Activity.Activity04"/>
      <class name="Activity.Activity05"/>
      <class name="Activity.Activity02"/>
      <class name="Activity.Activity03"/>
      <class name="Activity.Activity01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
